/*.account-profile {
    .profile {
        .profile-image {

            image {
                border-radius: 50%;
                height: 60px;
                width: 60px;
                object-fit: cover;
                border: 1px solid var(--color-gray-400);
            }
        }
    }
}
*/