<footer>

    <div class="container">

        <div class="social-media">
            <a class="btn btn-social" href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a class="btn btn-social" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a class="btn btn-social" href="https://instgram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a class="btn btn-social" href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>

        <div class="copyright">
            &copy; @DateTime.Now.Year Silicon. All rights reserved. Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo malesuada suspd.
        </div>

    </div>

</footer>